<table id="wr-table" class="ge">
    <tbody>
        <tr>
            <td><a href="/players">Players list</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/player-rankings?playerId=4&rankingDate=2008-01-01">Simulated ranking with latest times of a specified player, at a specified date in the past</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/time-frame-rankings?rankingDate=2022-01-01&monthsPrior=24">Simulated ranking for a specified time frame (specified date minus specified number of months)</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/losers-bracket-rankings?rankingDate=2022-01-01&untied=false">Simulated ranking at a specified time for players without tied or untied world records</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/cherry-pick-rankings?rankingDate=2022-01-01&skipStages=20&skipStages=1">Simulated ranking at a specified time, while removing datas from specific stages</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/sweeps?untied=true&stage=null">A view on longest sweeps (untied or 300 points) for a single stage or all</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/last-tied-wr?date=2022-01-18">A view on the last time each world record has been achieved for the last time</a></td>
        </tr>
        <tr>
            <td><a href="/games/1/players/4/details?rankingDate=2022-01-18&skipStages=20&skipStages=1&monthsPrior=null">Show player details about a specific simulated ranking</a></td>
        </tr>
    </tbody>
</table>