@model List<TheEliteExplorerDomain.Models.PlayerProgression>

<table id="wr-table" class="ge">
    <tbody>
        <tr>
            <th class="stage">Surname</th>
            <th class="stage">Days to reach</th>
            <th class="stage">First day</th>
            <th class="stage">Reach day</th>
        </tr>
        @foreach (var progression in Model)
        {
            <tr>
                <td style="color:#@progression.Player.Color">@progression.Player.SurName</td>
                <td style="color:#@progression.Player.Color">@progression.Days</td>
                <td style="color:#@progression.Player.Color">@progression.FirstDate.ToString("yyyy-MM-dd")</td>
                <td style="color:#@progression.Player.Color">@progression.ReachTargetDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
