@model List<TheEliteExplorerDomain.Dtos.PlayerDto>

<html class=" byzbljr idc0_332">
<head>
    <title>The GoldenEye World Records and Rankings - The Elite Rankings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://rankings.the-elite.net/css/base.1628312764.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/users.1631148673.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/flags.1541225167.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="page" class="with-sidebar">
            <div id="content">
                <h2>Players list</h2>
                <table id="wr-table" class="ge">
                    <tbody>
                        <tr>
                            <th class="stage">ID</th>
                            <th class="stage">Real name</th>
                            <th class="stage">Surname</th>
                        </tr>
                        @foreach (var player in Model)
                        {
                        <tr>
                            <td style="color:#@player.Color">@player.Id</td>
                            <td style="color:#@player.Color">@player.RealName</td>
                            <td style="color:#@player.Color">@player.SurName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#container -->
</body>
</html>
